{{#overview}}
<div class="card mb-4">

    <div class="card-header">

        <h4 class="mb-0">
            Overview
        </h4>

    </div>

    <div class="card-body">

        {{{overview}}}

    </div>

</div>
{{/overview}}


{{#motivation}}
<div class="card mb-4">

    <div class="card-header">

        <h4 class="mb-0">
            Motivation
        </h4>

    </div>

    <div class="card-body">

        {{{motivation}}}

    </div>

</div>
{{/motivation}}


{{#learningoutcomes}}
<div class="card mb-4">

    <div class="card-header">

        <h4 class="mb-0">
            Learning Outcomes
        </h4>

    </div>

    <div class="card-body">

        {{{learningoutcomes}}}

    </div>

</div>
{{/learningoutcomes}}


{{#resourcebutton}}
<div class="card mb-4">

    <div class="card-header">

        <h4 class="mb-0">
            Learning Resource
        </h4>

    </div>

    <div class="card-body">

        {{{resourcebutton}}}

    </div>

</div>
{{/resourcebutton}}