<div class="card mb-4">

    <div class="card-body">

        <h3 class="card-title">
            {{title}}
        </h3>

        <p class="card-text">
            {{description}}
        </p>

        {{#downloadurl}}

        <hr>

        <h5 class="mb-3">
            <i class="fa fa-file-o me-2"></i>
            File
        </h5>


        <div class="card bg-light mb-3">

            <div class="card-body">

                <p class="mb-2">

                    <strong>
                        File name:
                    </strong>

                    {{filename}}

                </p>


                <p class="mb-3">

                    <strong>
                        Size:
                    </strong>

                    {{filesize}}

                </p>


                <a href="{{downloadurl}}"
                   class="btn btn-primary">

                    <i class="fa fa-download me-2"></i>
                    Download

                </a>

            </div>

        </div>

        {{/downloadurl}}

        <hr>

        <h5 class="mb-3">
            <i class="fa fa-info-circle me-2"></i>
            Resource Information
        </h5>

        <table class="table table-bordered">

            <tbody>

                <tr>
                    <th>
                        Language
                    </th>

                    <td>
                        {{language}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Format
                    </th>

                    <td>
                        {{format}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Document Type
                    </th>

                    <td>
                        {{documentarytype}}
                    </td>
                </tr>

            </tbody>

        </table>


        <hr>


        <h5 class="mb-3">
            <i class="fa fa-graduation-cap me-2"></i>
            Educational Information
        </h5>

        <table class="table table-bordered">

            <tbody>

                <tr>
                    <th>
                        Educational Level
                    </th>

                    <td>
                        {{educationallevel}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Learning Resource Type
                    </th>

                    <td>
                        {{learningresourcetype}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Target Audience
                    </th>

                    <td>
                        {{targetaudience}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Objective
                    </th>

                    <td>
                        {{objective}}
                    </td>
                </tr>

            </tbody>

        </table>


        <hr>


        <h5 class="mb-3">
            <i class="fa fa-info-circle me-2"></i>
            Additional Information
        </h5>

        <table class="table table-bordered">

            <tbody>

                <tr>
                    <th>
                        Taxonomy
                    </th>

                    <td>
                        {{taxonentry}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Author Entity
                    </th>

                    <td>
                        {{entity}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Copyright
                    </th>

                    <td>
                        {{copyright}}
                    </td>
                </tr>

            </tbody>

        </table>


        <hr>

        <h5 class="mb-3">
            <i class="fa fa-tags me-2"></i>
            Keywords
        </h5>


        {{#keywords}}

            <span class="badge bg-primary me-1 mb-1">
                {{.}}
            </span>

        {{/keywords}}


        {{^keywords}}

            <p class="text-muted">
                No keywords available.
            </p>

        {{/keywords}}

        <hr>

        <h5 class="mb-3">

            <button
                class="btn btn-link p-0"
                type="button"
                data-toggle="technical-metadata">
                <i class="fa fa-cogs me-2"></i>
                Technical Metadata

            </button>

        </h5>


        <div id="technical-metadata"
             style="display:none;">


        <table class="table table-bordered">

            <tbody>

                <tr>
                    <th>
                        Identifier
                    </th>

                    <td>
                        {{identifier}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Date
                    </th>

                    <td>
                        {{date}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Relation
                    </th>

                    <td>
                        {{relation}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Location
                    </th>

                    <td>
                        {{location}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Role
                    </th>

                    <td>
                        {{role}}
                    </td>
                </tr>


                <tr>
                    <th>
                        Metadata Accessibility
                    </th>

                    <td>
                        {{metadataaccessibility}}
                    </td>
                </tr>


            </tbody>

        </table>
        </div>
    </div>

</div>