<div class="container">
    <div class="card invenio-upload-card">
        <div class="card-body p-4">
            <h1 class="invenio-upload-title mb-4">Upload Resource</h1>
            <p class="text-muted mb-4">
                Upload learning materials,
                research papers, thesis or documents.
            </p>
            {{{formhtml}}}
        </div>
    </div>
</div>